{% extends "base.html" %}

{% block head %}
   <title>Register</title>
{% endblock %}

{% block body %}
    <h1>Register Page</h1>
    <form method="POST" id="register">
        <input type="text" name="username" placeholder="Username"><br>
        <input type="email" name="usermail" placeholder="e-mail"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <input type="date" name="birthday">
        <button type="submit">Submit</button>
    </form>
    <footer>
        <nav>
            <a href="/">index</a>
        </nav>
    </footer>
{% endblock %}
